<div class="champion-container">
    <div class="main-container" *ngFor="let item of NBA_Champions">
        <div class="logo-container">
            <a href={{item.champion_url}} target="_blank"><img src={{item.logo}} class="logo" /></a>
        </div>
        <div class="ticket-container">
            <div class="ticket__content">
                <h1 class="ticket__champion-year">{{item.year}}</h1>
                <h2 class="ticket__champion-name">
                    {{item.champion}}.
                </h2><hr>
                <p class="ticket__best-players">Best Players</p>
                <p class="ticket__players-name" *ngFor="let player of item.best_players">
                    {{player}}.
            </div>
        </div>
    </div>
 
</div>