<div class="champions-container">

    <mat-card *ngFor="let item of NBA_Champions">
        <mat-card-header>
            <mat-card-title>{{item.year}}</mat-card-title>
            <mat-card-subtitle>{{item.champion}}</mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>

        <picture>
            <a href={{item.champion_url}} target="_blank"><img mat-card-image src={{item.logo}} alt="logo"></a>
        </picture>

        <mat-card-subtitle>Best Players</mat-card-subtitle>
        <mat-card-content *ngFor="let player of item.best_players">
            {{player}}
        </mat-card-content>


    </mat-card>
</div>